<div class="container">
  <div class="jumbotron">
    <h1>My Personal Home Page</h1>
    <p>You can read more about me, or checkout my blog.</p>
    <%= link_to "Sobre Mim", about_path %>
  </div>
</div>
